/* variables and mixins */

// COLORS

$light-yellow: #ffd195;
$teal: #5d9b84 ;
$brown: #de7e44 ;
$dark-blue: #41354d ;
$white: #fff;
$grey: #282828;
$black: #000;

// FONTS
$body-font: 'Josefin Slab', serif;
$header-font: 'Pacifico', cursive;